
.centralizar{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centralizar > section{
    border: 2px solid #052384;
    border-radius: 3px;
    height: 70vh;
    min-height: 600px;
    max-height: 600px;
    max-width: 400px;
    min-width: 300px;
    word-break: break-all;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.centralizar > .rel > h1 > img{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20%;
}
.centralizar > .rel >.cadastro{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40%;
}

.centralizar > section > img{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20%;
}

.rel{
    position: relative;
}

.il{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.input-solo{
    top: 30%;
    right: 30%;
    width: 150%;
    margin: 40px 0;
    position: relative;

}
.viewpassword{
    display: inline;
    margin-left: -1.5%;

}
div.input-solo label{
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(105, 105, 105);
    cursor: text;
    transition: 0.2s ease-in-out;
}

div.input-solo .input{
    width: 100%;
    padding: 5px;
    color: black;
    border: 0; 
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 16px;
    
}
div.input-solo .input:focus,
div.input-solo .input:valid{
    border-bottom: 2px solid black;
}
div.input-solo .input:focus ~ label,
div.input-solo .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 14px;
    color: black;

}
.rel > div{
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bb > .b1{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #9188b1;
    color : black;
    width: 100% ;
    height: 30px;
    margin: 10px ;
    border: 1px solid black;
    text-align: center;
}
.bb > .b2{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #9188b1;
    color: black;
    width: 100% ;
    height: 30px;
    margin: 10px ;
    border: 1px solid black;
    text-align: center;
}
.bb > .b1:hover{
    background-color: #a49ad1;
}
.bb > .b2:hover{
    background-color: #a49ad1;
    ;
}
.message {
    text-align: center;
    margin-top: 20px;
}