body{
	background-color: darkgray;
}
.centralizar {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 70vh;
	min-height: 600px;
	max-height: 600px;
	max-width: 400px;
	min-width: 300px;
	text-align: center;
	justify-content: center;
	box-sizing: border-box;
	border: 2px solid #052384;
}

.section>h1 {
	position: absolute;
	transform: translate(-50%, -50%);
	display: block;
	align-items: center;
}

.centralizar>textarea {
	position: absolute;
	top: 96%;
	left: 42%;
	transform: translate(-50%, -50%);
}
.centralizar > #linha-horizontal {
	position: absolute;
	top : 92%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 100%;
    border: 1px solid #052384;
}
.centralizar > textarea{
	background: none;
	width: 80%;
	min-height: 30px;
	resize: none;
	white-space: nowrap;
	overflow: hidden;
	outline: 0;
	cursor: text;
	box-sizing: border-box;
	padding: 5px;
	font-size: 16px;
	border: 1px solid rgb(43, 43, 43);
	font-family: Arial, Helvetica, sans-serif;
	border-radius: none;
}
.centralizar > .postagem{
	font-family: Arial, Helvetica, sans-serif;
	align-items: flex-start;
    gap: 13px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	background-color: darkcyan;
	display: flex;
	box-sizing: border-box;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #052384 darkcyan;
	flex-direction: column;
	max-height: 400px;
	min-height: 400px;
	min-width: 250px;
}
.centralizar > .b1{
	position: absolute;
	top: 96%;
	left: 91%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	border-radius: 0;
}

