<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/geral.css">
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
</head>
<body>
    <h1>REGISTRAR</h1>
    <form id="cadastroForm">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <button type="button" id="button-cadastro" onclick="location.href='/login'">Conecte-se</button>
    <div class="message" id="message"></div>
    <script>
        document.getElementById('cadastroForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const senha = document.getElementById('senha').value;
            const response = await fetch('/api/cadastrar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({name, email, senha})
            });
            const result = await response.json();
            const messageDiv = document.getElementById('message');
            if (result.success) {
                messageDiv.textContent = 'Usuário cadastrado com sucesso!';
                messageDiv.style.color = 'green';
            } else {
                messageDiv.textContent = `Erro: ${result.error}`;
                messageDiv.style.color = 'red';
            }
            
        });
    </script>
</body>
</html>
