<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/geral.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <div class="message" id="message"></div>
    <meta headers charset="UTF-8" />
    <script>
        
        function tentarEntrar() {
            const email = document.getElementById('email').value;
            const senha = document.getElementById('senha').value;
            const formData = new FormData();
            formData.append('email', email);
            formData.append('senha', senha);
            
            fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({email, senha})
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(result => {
                const messageDiv = document.getElementById('message');
                if (result.success) {
                    messageDiv.textContent = 'Usuário logado com sucesso!';
                    messageDiv.style.color = 'green';
                    window.location.href = '/page'; 
                } else {
                    messageDiv.textContent = `Erro: ${result.error}`;
                    messageDiv.style.color = 'red';
                }
            }); 
        }
    </script>
</head>
<body>
    <h1>Login</h1>
    <div class="container">
        <img src="/static/logo.png" width="80" height="80" />
    </div>

    <form>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" required />

    <button type="button" id="button-login" onclick="tentarEntrar()">ENTRAR</button>
    </form>
    <button type="button" id="button-cadastro" onclick="location.href='/cadastrar'">CADASTRAR</button>
</body>
</html>
