<!DOCTYPE html>
<html lang="pt">
<head>
	<link rel="stylesheet" type="text/css" href="/static/geral.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LILO</title>
	<body>
		<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.googleusercontent.com%2Fytc%2FAGIKgqMhkRvCF2z8ji5IwxYicESUAhjoWSMjKKJgKWaK%3Ds900-c-k-c0x00ffffff-no-rj&f=1&nofb=1&ipt=5a6c08c798e20aa66a56fb4cf80935e298077d2ded58bb5ad58757c7470ac42b&ipo=images" />

	</body>
	<script>

	</script>
	
</head>
<body>
	