<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/geral.css">
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Página de Teste</title>
</head>
<body>

	<h1>Bem-vindo à Página de Teste</h1>
	<p>Este é um parágrafo de teste.</p>

	<button id="logoutButton">Desconectar</button>

	<script>
		document.getElementById("logoutButton").addEventListener("click", function() {
			window.location.href = "/deslogar";
		});
	</script>
</body>
</html>
